
.container
  .table-responsive
    .panel.panel-default
      .panel-heading 
        %h4.text-center Issues
          
      %table#issues.table.table-hover
        %thead
          %tr
            %th Title
            %th Volume
            %th Issue
            %th Date
            %th.text-center Show
            %th.text-center Delete
            %th.text-center Generate
        %tbody
          - @issues.each do |issue|
            %tr
              %td= issue.title 
              %td= issue.volume
              %td= issue.issue_number
              %td= issue.date
              %td.text-center= link_to image_tag("show.png", size: "24x24"), issue_path(issue), id: "show" + issue.title.gsub(" ", "")
              %td.text-center= link_to image_tag("delete.png", size: "24x24"), issue_path(issue), id: "delete" + issue.title.gsub(" ", "") , :method => :delete
              %td.text-center= link_to image_tag("generate.png", size: "32x26"), generate_issue_path(issue), id: "generate" + issue.title.gsub(" ", "")
    .div.text-right
      = link_to "Add Issue", new_issue_path, :class=>"btn btn-primary btn-lg active btn-success"
