%h1 Create New Article

= form_tag issue_articles_path do

  = label :article, :title, 'Title'
  = text_field :article, 'title'

  = label :article, :order_number, 'Order Number'
  = number_field :article, 'order_number'
  
  = label :article, :image_url, 'Image Url'
  = text_field :article, 'image_url'

  = label :article, :content, 'Content'
  = text_area :article, :content

  = submit_tag 'Save Changes'