
%h1= @article.title

%p= @article.image_url

%p= simple_format(@article.content)

= link_to 'Edit', edit_issue_article_path(@issue, @article)
%br
= link_to "Back to Articles", issue_path(params[:issue_id])