!!!
%html
  %head
    %title nth Degree
    = stylesheet_link_tag 'application', 'media' => 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    
    
    .container
      .row
        
        %br
        %h1.title.text-center "nth Degree Issues Builder"
        %br
        
        #main
          =flash_messages
          - if flash[:notice]
            #notice.message= flash[:notice]
          - elsif flash[:warning]
            #warning.message= flash[:warning]
        

= yield